.circle{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.item{
  width: 59px;
  height: 40px;
  background-color: white;
  display: flex;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.red{
  background-color: red;
}
.cardBody{
  flex-wrap: wrap;
}